.input-label-text {
  height: 40px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  border-radius: 50px;
  background: var(--black-010);
  margin-bottom: 20px;
  padding: 5px;

  input[type="text"] {
    width: 85%;

    border: none;
    background: none;
    font-size: 14px;
    color: var(--white);
    outline: 0;
    margin-left: 10px;
  }

  input[type="checkbox"] {
    appearance: none;
    background-color: var(--white);

    width: 20px;
    height: 20px;

    border: none;
    border-radius: 50px;
    cursor: pointer;

    &:checked {
      background: var(--primary);
    }
  }

  input[type="checkbox"] + input[type="text"] {
    margin: 0;
  }
}
