:root {
  --primary: #2fbf71;
  --primary-010: #21804d;

  --secondary: #06628a;
  --secondary-010: #06374e;

  --white: #fff;

  --black: #10101a;
  --black-010: #2a2a30;

  --red: #c90025;
  --red-010: #a3001e;

  --grey: #9b9ba0;
}
