@for(item of inputListItems; track item){
<label class="input-label-text" [for]="item.id">
  <input
    type="checkbox"
    #inputCheckbox
    [checked]="item.checked"
    (input)="updateItemCheckbox(inputCheckbox.checked, item.id)"
  />

  <input
    type="text"
    #inputValue
    [id]="item.id"
    [value]="item.value"
    (input)="updateItemText(inputValue.value, item.id)"
    placeholder="Adicione um valor"
    autofocus
  />

  <button
    class="btn btn-danger-circle"
    (click)="deleteItem(item.id)"
    title="Delete um item"
  ></button>
</label>
}
